<div class="row" ng-controller="EstrategiasController as vm">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <h4 class="card-title">Objetivos Específicos</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <th>Descripción</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="objetivoEspecifico in vm.listadoObjetivoEspecifico" ng-click="vm.cargarEstrategia(objetivoEspecifico.ObjetivosEspecificosId,objetivoEspecifico.Descripcion)">
                                <td style="cursor:pointer;">{{objetivoEspecifico.Descripcion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs" data-background-color="green">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <a ng-show="vm.appstate =='showAdd'" class="ui olive label" data-toggle="modal" data-target="#myModal" ng-click="vm.ventanaEstrategia()"><i class="add icon"></i>Estrategia</a>
                            <span class="nav-tabs-title"><b>OBJETIVO ESPECÍFICO:</b> {{vm.ObjetivoEspecifico }}</span>
                            <ul class="nav nav-tabs" data-tabs="tabs"></ul>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <table class="table">
                        <thead class="text-warning">
                        <th>ESTRATEGIA</th>
                        <th>Acciones</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="estrategias in vm.listadoEstrategia">
                                <td>{{estrategias.Descripcion}}</td>
                                <td title="'Acciones'" class="td-actions text-center">
                                    <button type="button" rel="tooltip" title="Editar" data-toggle="modal" data-target="#myModalUpdate" ng-click="vm.ventanaModalEstrategia(estrategias)" class="btn btn-success btn-round">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="submit" rel="tooltip" title="Eliminar" class="btn btn-danger btn-round" ng-click="vm.deleteEstrategia(estrategias.EstrategiasId, $index)">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL INSERT -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-success">:: Agregar Estrategia ::</h4>
                </div>
                <form name="addEstrategiaForm" class="ui form" ng-submit="vm.addEstrategia()" novalidate>
                    <div class="modal-body">
                        <div class="form-group label-floating">
                            <label class="control-label"><span class="text-success"><b>Objetivo Específico: </b> </span> {{vm.ObjetivoEspecifico | uppercase}} </label>
                        </div>
                        <br />
                        <div class="form-group label-floating">
                            <label class="control-label" style="font-size:12px;">DESCRIPCIÓN DE LA ESTRATEGIA</label>
                            <div class="form-group">
                                <textarea type="text" class="form-control" ng-model="vm.modalEstrategia.Descripcion" required></textarea>
                            </div>
                        </div>

                        <input type="hidden" ng-model="vm.modalEstrategia.ObjetivosEspecificosId" ng-value="vm.modalEstrategia.ObjetivosEspecificosId">
                        <input type="hidden" ng-model="vm.modalEstrategia.PlanificacionId" ng-value="vm.modalEstrategia.PlanificacionId">
                        <input type="hidden" ng-model="vm.modalEstrategia.eliminado" ng-value="vm.modalEstrategia.eliminado = 0">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-fill btn-success" ng-disabled="addEstrategiaForm.$invalid">Registrar <i class="add icon"></i></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close <i class="remove icon"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END MODAL INSERT -->
    <!-- MODAL UPDATE -->
    <div id="myModalUpdate" class="modal fade">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-success">:: Actualizar Estrategia ::</h4>
                </div>
                <form name="updateEstrategiaForm" class="ui form" ng-submit="vm.updateEstrategia()" novalidate>
                    <div class="modal-body">
                        <div class="form-group label-floating">
                            <label class="control-label"><span class="text-success"><b>Objetivo Específico: </b> </span> {{vm.ObjetivoEspecifico | uppercase}}</label>
                        </div>
                        <br />
                        <div class="form-group label-floating">
                            <label class="control-label" style="font-size:12px;">DESCRIPCIÓN DE LA ESTRATEGIA</label>
                            <div class="form-group">
                                <textarea type="text" class="form-control" ng-model="vm.modalEstrategia.Descripcion" required></textarea>
                            </div>
                        </div>
                        <input type="hidden" ng-model="vm.modalEstrategia.ObjetivosEspecificosId" ng-value="vm.modalEstrategia.ObjetivosEspecificosId">
                        <input type="hidden" ng-model="vm.modalEstrategia.EstrategiasId" ng-value="vm.modalEstrategia.EstrategiasId">
                        <input type="hidden" ng-model="vm.modalEstrategia.PlanificacionId" ng-value="vm.modalEstrategia.PlanificacionId">
                        <input type="hidden" ng-model="vm.modalEstrategia.eliminado" ng-value="vm.modalEstrategia.eliminado = 0">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-fill btn-success" ng-disabled="updateEstrategiaForm.$invalid">Actualizar <i class="add icon"></i></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close <i class="remove icon"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END MODAL UPDATE -->
</div>