<div class="row" ng-controller="MetasController as vm">
    <div class="row">
        <div class="col-lg-16 col-md-12">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <h4 class="card-title">Planificación de Metas</h4>
                </div>
                <div class="card-content table-responsive">
                    <form name="categoryForm">
                        <table class="table table-hover">
                            <thead class="text-warning" ng-show="vm.status=='POA'">
                                <tr class="text-center" style="font-size:9px;">
                                    <th rowspan="2" class="fond">Cuantitativo</th>
                                    <th rowspan="2" width="60%" class="fond">Metas</th>
                                    <th rowspan="2" class="fond"> </th>
                                    <th rowspan="2" class="fond">Tiempo Meta</th>
                                    <th colspan="4" class="text-center fond">Programación Trimestral en % de la meta</th>
                                    <th rowspan="2" class="fond">Presupuesto</th>
                                    <th rowspan="2" class="fond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                </tr>
                                <tr class="text-center" style="font-size:10px;">
                                    <th class="text-center colEje" ng-repeat="intervalo in vm.listadoIntervalos">{{intervalo.descripcion}}</th>
                                </tr>
                            </thead>
                            <thead class="text-warning" ng-show=" vm.status=='PEDI'">
                                <tr class="text-center" style="font-size:9px;">
                                    <th rowspan="2" class="fond">Cuantitativo</th>
                                    <th rowspan="2" width="60%" class="fond">Metas</th>
                                    <th rowspan="2" class="fond"> </th>
                                    <th colspan="5" class="text-center fond">PLANIFICACIÓN - PERIOCIDAD</th>
                                    <th rowspan="2" class="fond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                </tr>
                                <tr class="text-center" style="font-size:10px;">
                                    <th class="text-center colEje" ng-repeat="intervalo in vm.listadoIntervalos">{{intervalo.descripcion}}</th>
                                </tr>
                            </thead>
                                <tr style="font-size:12px;" class="animate-if" ng-if="vm.status=='POA'" ng-repeat="Programacion in vm.listadoMetasProgramaciones">
                                    <td class="text-center"><i class="material-icons">done</i></td>
                                    <td style="font-size:13px;">{{Programacion.Metas}}</td>
                                    <td style="font-size:12px;"><span data-toggle="modal" data-target="#myModalDetalleMeta" style="cursor:pointer;" ng-click="vm.detalleMeta(Programacion.MetaID)" class="text-success">ver más</span></td>
                                    <td class="text-center">
                                        <div class="ui center input">
                                            <input size="2" type="text" ng-model="vm.tiempoMeta[$index+''+Programacion.MetaID]" ng-disabled="true" ng-init="vm.tiempoMeta[$index+''+Programacion.MetaID]=Programacion.Mes"/>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="ui center input">
                                            <input size="2" type="text" ng-model="Programacion.I" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="ui center input">
                                            <input size="2" type="text" ng-model="Programacion.II" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="ui center input">
                                            <input size="2" type="text" ng-model="Programacion.III" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="ui center input">
                                            <input size="2" type="text" ng-model="Programacion.IV" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center" style="font-size:12px;">
                                        <div class="ui center input">
                                            <input size="10" type="text" ng-model="Programacion.Presupuesto" decimal-only format="currency" />
                                        </div>
                                    </td>
                                    <td class="td-actions text-center">
                                        <button type="submit" rel="tooltip" title="Actualizar" ng-click="vm.updateMetasProgramacion(Programacion,$index)" class="btn btn-success btn-round">
                                            <i class="material-icons">cached</i>
                                        </button>
                                    </td>
                                </tr>
                                <tbody style="font-size:12px;  border:1px" ng-show="vm.status=='PEDI'" ng-repeat="Programacion in vm.listadoMetasProgramaciones">
                                <tr ng-if="Programacion.TipoCalificacion == 'Cualitativo'" class="animate-if">
                                    <td></td>
                                    <td style="font-size:13px;">{{Programacion.Metas}}</td>
                                    <td style="font-size:12px;"><span data-toggle="modal" data-target="#myModalDetalleMeta" style="cursor:pointer;" ng-click="vm.detalleMeta(Programacion.MetaID)" class="text-success">ver más</span></td>                                
                                    <td class="text-center">
                                        <select ng-model="Programacion.I">
                                            <option value="110">Satisfactorio</option>
                                            <option value="220">Medio Satisfactorio</option>
                                            <option value="330">Deficiente</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select ng-model="Programacion.II">
                                            <option value="110">Satisfactorio</option>
                                            <option value="220">Medio Satisfactorio</option>
                                            <option value="330">Deficiente</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select ng-model="Programacion.III">
                                            <option value="110">Satisfactorio</option>
                                            <option value="220">Medio Satisfactorio</option>
                                            <option value="330">Deficiente</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select ng-model="Programacion.IV">
                                            <option value="110">Satisfactorio</option>
                                            <option value="220">Medio Satisfactorio</option>
                                            <option value="330">Deficiente</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select ng-model="Programacion.V">
                                            <option value="110">Satisfactorio</option>
                                            <option value="220">Medio Satisfactorio</option>
                                            <option value="330">Deficiente</option>
                                        </select>
                                    </td>
                                    <td class="td-actions text-center">
                                        <button type="submit" rel="tooltip" title="Actualizar" ng-click="vm.updateMetasProgramacion(Programacion)" class="btn btn-success btn-round">
                                            <i class="material-icons">cached</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="Programacion.TipoCalificacion == 'Cuantitativo'"  class="animate-if">
                                    <td><i class="material-icons">done</i></td>
                                    <td style="font-size:13px;">{{Programacion.Metas}}</td>
                                    <td style="font-size:12px;"><span data-toggle="modal" data-target="#myModalDetalleMeta" style="cursor:pointer;" ng-click="vm.detalleMeta(Programacion.MetaID)" class="text-success">ver más</span></td>
                                    <td class="text-center">
                                        <div class="ui input">
                                            <input size="2" type="text" ng-model="Programacion.I" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="ui input">
                                            <input size="2" type="text" ng-model="Programacion.II" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="ui input">
                                            <input size="2" type="text" ng-model="Programacion.III" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="ui input">
                                            <input size="2" type="text" ng-model="Programacion.IV" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="ui input">
                                            <input size="2" type="text" ng-model="Programacion.V" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="td-actions text-center">
                                        <button type="submit" rel="tooltip" title="Actualizar" ng-click="vm.updateMetasProgramacion(Programacion)" class="btn btn-success btn-round">
                                            <i class="material-icons">cached</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                                 <tr><td class="text-success" data-loader colspan="10"></td></tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL DETALLE META -->
    <div id="myModalDetalleMeta" class="modal fade">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-success">:: Detalle de la Meta ::</h4>
                </div>
                <div class="modal-body">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <i class="large angle right icon"></i>
                            <div class="content">
                                <a class="header">OBJETIVO ESTRATEGICO</a>
                                <div class="description">{{ vm.detallesMeta.ObjetivoEstrategico }}</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="large angle right icon"></i>
                            <div class="content">
                                <a class="header">OBJETIVO ESPECIFICO</a>
                                <div class="description">{{ vm.detallesMeta.ObjetivoEspecifico}}</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="large angle right icon"></i>
                            <div class="content">
                                <a class="header">ESTRATEGIA</a>
                                <div class="description">{{ vm.detallesMeta.Estrategia }}</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="large angle right icon"></i>
                            <div class="content">
                                <a class="header">INDICADOR</a>
                                <div class="description">{{ vm.detallesMeta.Indicador}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close <i class="remove icon"></i></button>
                </div>

            </div>
        </div>
    </div>
    <!-- END MODAL DETALLE META -->
</div>
