<div class="row" ng-controller="MetasController as vm">
    <div class="row">
        <div class="col-lg-16 col-md-12">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <h4 class="card-title">Planificación de Metas</h4>
                </div>
                <div class="card-content table-responsive">
                    <form name="categoryForm">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <tr class="text-center">
                                    <th rowspan="2" width="60%">Metas</th>
                                    <th colspan="4">Programación Trimestral en % de la meta</th>
                                    <th rowspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                </tr>
                                <tr>
                                    <th class="text-center" ng-repeat="intervalo in vm.listadoIntervalos">{{intervalo.descripcion}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="vm.deparmentID!=2" class="animate-if" ng-repeat="Programacion in vm.listadoMetasProgramaciones">
                                    <td>{{Programacion.Metas}}</td>
                                    <td class="text-center">
                                        <div class="ui input">
                                            <input size="2" type="text" ng-model="Programacion.I" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="ui input">
                                            <input size="2" type="text" ng-model="Programacion.II" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="ui input">
                                            <input size="2" type="text" ng-model="Programacion.III" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="ui input">
                                            <input size="2" type="text" ng-model="Programacion.IV" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="td-actions text-center">
                                        <button type="submit" rel="tooltip" title="Actualizar" ng-click="vm.updateMetasProgramacion(Programacion)" class="btn btn-success btn-round">
                                            <i class="material-icons">cached</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="vm.deparmentID==2" class="animate-if" ng-repeat="Programacion in vm.listadoMetasProgramaciones">
                                    <td><label>Cualitativo: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label></td>
                                    <td>{{Programacion.Metas}}</td>
                                    <td class="text-center">
                                        <select ng-model="select1" ng-init="selected=1">
                                            <option value="1">Cuantitativo</option>
                                            <option value="2" ng-selected="selected">Satisfactorio</option>
                                            <option value="3">Medio Satisfactorio</option>
                                            <option value="4">Deficiente</option>
                                        </select>
                                    </td>
                                    <td class="text-center animate-if" ng-if="select1!=Cuantitativo">
                                        <div class="ui input">
                                            <input size="2" type="text" ng-model="Programacion.I" numbers-only max="" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <select ng-model="select2">
                                            <option value="1">Satisfactorio</option>
                                            <option value="1">Medio Satisfactorio</option>
                                            <option value="1">Deficiente</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                    <td class="text-center">
                                        <select ng-model="select3">
                                            <option value="1">Satisfactorio</option>
                                            <option value="1">Medio Satisfactorio</option>
                                            <option value="1">Deficiente</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select ng-model="select4">
                                            <option value="1">Satisfactorio</option>
                                            <option value="1">Medio Satisfactorio</option>
                                            <option value="1">Deficiente</option>
                                        </select>
                                    </td>
                                    <td class="td-actions text-center">
                                        <button type="submit" rel="tooltip" title="Actualizar" ng-click="vm.updateMetasProgramacion(Programacion)" class="btn btn-success btn-round">
                                            <i class="material-icons">cached</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
