<div ng-controller="ObjetivosEstrategicosController as vm">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="green">
                <i class="material-icons">note_add</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">:: Registrar Objetivo Estratégico Institucional ::</h4>
                <form name="AddObjetivosEstrategicosForm" ng-submit="vm.addObjetivoEstrategico();" novalidate>
                    <div class="form-group label-floating">
                        <label class="control-label">SUBSISTEMA</label>
                        <select class="form-control" ng-model="vm.ObjetivoEstrategico.SubsistemaId" ng-options="arrOptionSelect.SubsistemaId as arrOptionSelect.Descripcion for arrOptionSelect in vm.arrOptionSelects" required>
                               <option value="">-- Seleccione --</option>
                        </select>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">OBJETIVO ESTRATÉGICO INSTITULACIONAL</label>
                        <input type="text" class="form-control" ng-model="vm.ObjetivoEstrategico.Descripcion" required>
                    </div>
                    <input type="hidden" ng-model="vm.ObjetivoEstrategico.eliminado" ng-value="vm.ObjetivoEstrategico.eliminado = 0">
                    <input type="submit" value="Registrar" class="btn btn-fill btn-success" ng-disabled="AddObjetivosEstrategicosForm.$invalid" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="green">
                <i class="material-icons">list</i>
            </div>
            <div class="card-content">
                <h4 class="card-title"><a class="ui teal tag label">OBJETIVOS ESTRATÉGICOS INSTITUCIONALES</a></h4>
                <div class="toolbar row">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="ui label">
                                    <i class="pin icon"></i> Total de registros: {{vm.totalregistros}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-bottom:20px;">
                            <div class="form-group">
                                <div class="ui icon input pull-right">
                                    <input type="text" placeholder="Buscar..." class="form-control pull-right" ng-model="searchText">
                                    <i class="circular search link icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table ng-table="vm.tableParams" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <tr ng-repeat="ObjetivosEstrategicos in vm.listObjetivosEstrategico | orderBy: 'id' | filter:searchText as results">
                        <td title="'Ìtems'" class="text-center">
                            {{$index +1}}
                        </td>
                        <td title="'Objetivo Estratégico Institucional'" class="text-center">
                            {{ObjetivosEstrategicos.Descripcion}}
                        </td>
                        <td title="'Subsistemas'" class="text-center">
                            {{ObjetivosEstrategicos.DescripcionSubsistemas}}
                        </td>
                        <td title="'Acciones'" class="td-actions text-center">
                            <button type="button" rel="tooltip" title="Editar" data-toggle="modal" data-target="#myModal" ng-click="vm.ModalObjetivosEstrategicos(ObjetivosEstrategicos)" class="btn btn-success btn-round">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="submit" rel="tooltip" title="Eliminar" class="btn btn-danger btn-round" ng-click="vm.deleteObjetivoEstrategico(ObjetivosEstrategicos.ObjetivosEstragicoId, $index)">
                                <i class="material-icons">close</i>
                            </button>
                        </td>
                    </tr>
                    <tr class="animate-repeat" ng-if="results.length === 0">
                        <td colspan="3" class="text-danger">No se encontraron registros...</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- MODAL -->

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-success">:: Actualizar Objetivo Estrategicos Institucionales ::</h4>
                </div>
                <form name="updateObjetivoEstrategicoForm" class="ui form" ng-submit="vm.updateObjetivoEstrategico()" novalidate>
                    <div class="modal-body">
                        <div class="form-group label-floating">
                            <label class="control-label">OBJETICO ESTRATÉGICO INSTITUCIONAL</label>
                            <select class="form-group" ng-model="vm.modalObjetivoEstrategico.SubsistemaId" ng-options="arrOptionSelect.SubsistemaId as arrOptionSelect.Descripcion for arrOptionSelect in vm.arrOptionSelects">
                                <option value="0">-- Seleccione --</option>
                            </select>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">OBJETIVO ESPECíFICO</label>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.modalObjetivoEstrategico.Descripcion" required>
                            </div>
                        </div>
                        <input type="hidden" ng-model="vm.modalObjetivoEstrategico.ObjetivosEstragicoId" ng-value="vm.modalObjetivoEstrategico.ObjetivosEstrategicoId">
                        <input type="hidden" ng-model="vm.modalObjetivoEstrategico.eliminado" ng-value="vm.modalObjetivoEstrategico.eliminado = 0">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-fill btn-success" ng-disabled="updateObjetivoEstrategicoForm.$invalid">Actualizar <i class="refresh icon"></i></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close <i class="remove icon"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <!--<div class="ui modal editarObjetivoEstrategicoInstituciona">
        <i class="close icon"></i>
        <div class="header">
            :: Actualizar Objetivo Estrategicos Institucionales ::
        </div>
        <div class="image content">
            <form name="updateObjetivoEstrategicoForm" class="ui form image content description" ng-submit="vm.updateObjetivoEstrategico()" novalidate>
                <div class="field form-group">
                    <div class="control-label">
                        <label>Objetivo Estratégico Institucional</label>
                    </div>
                    <div class="form-control">
                        <input class="form-control" ng-model="vm.modalObjetivoEstrategico.Descripcion" type="text" required>
                    </div>
                </div>
                <div class="field form-group">
                    <label class="control-label">SUBSISTEMA</label>
                    
                    <select class="form-group label-floating" data-size="7" ng-model="vm.modalObjetivoEstrategico.SubsistemaId" ng-options="arrOptionSelect.SubsistemaId as arrOptionSelect.Descripcion for arrOptionSelect in vm.arrOptionSelects">
                        <option value="">Seleccione un SubSistema</option>
                    </select>                                    
                </div>

                <div class="ui error message"></div>
                <div class="actions">
                    <button type="submit" class="btn btn-fill btn-success" ng-disabled="updateObjetivoEstrategicoForm.$invalid">Actualizar <i class="refresh icon"></i></button>
                </div>
            </form>
        </div>
    </div>-->
    <!-- END MODAL -->

</div>
