
<div ng-controller="PeriodicidadController as vm">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="green">
                <i class="material-icons">note_add</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">:: Registrar Periodicidad ::</h4>
                <form name="AddPeriodicidadForm" ng-submit="vm.addPeriocidad()" novalidate>
                    <div class="form-group label-floating">
                        <label class="control-label">PERIOCIDAD</label>
                        <select class="form-control col-lg-12 col-md-12" ng-model="vm.Periodo"  required>
                            <option value="">-- Seleccione --</option>
                            <option value="Anual">Anual</option>
                            <option value="Trimestral">Trismestral</option>
                        </select>
                    </div>
                    <input type="submit" value="Registrar" class="btn btn-fill btn-success" ng-disabled="AddPeriodicidadForm.$invalid" />
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <h4 class="card-title">Periocidad</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <th>Descripción</th>
                        <th>Estado</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="periocidad in vm.listPeriocidiades">
                                <td ng-click="vm.cargarIntervalos(periocidad.id,periocidad.Periodo)" style="cursor:pointer;">{{periocidad.Periodo}}</td>
                                <td>
                                    <input type="radio" name="estado" ng-checked="periocidad.estado" ng-click="vm.changeEstado(periocidad.Periodo)" />Activo
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs" data-background-color="green">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <a ng-show="vm.appstate =='showAdd'" class="ui olive label" data-toggle="modal" data-target="#myModal" ng-click="vm.IntervaloModal()"><i class="add icon"></i>Intervalo</a>
                            <span class="nav-tabs-title"><b>PERIOCIDAD:</b> {{vm.periocidad }}</span>
                            <ul class="nav nav-tabs" data-tabs="tabs"></ul>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <table class="table">
                        <thead class="text-warning">
                        <th>Intervalos</th>
                        <th class="text-center">Acciones</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="intervalo in vm.listadoIntervalos">
                                <td>{{intervalo.Descripcion}}</td>
                                <td title="'Acciones'" class="td-actions text-center">
                                    <button type="button" rel="tooltip" title="Editar" data-toggle="modal" data-target="#myModalUpdate" ng-click="vm.ventanaModalIntervalo(intervalo)" class="btn btn-success btn-round">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="submit" rel="tooltip" title="Eliminar" class="btn btn-danger btn-round" ng-click="vm.deleteIntervalo(intervalo.id, $index)">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL INTERVALO INSERT -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-success">:: Agregar Intervalo ::</h4>
                </div>
                <form name="addIntervaloForm" class="ui form" ng-submit="vm.addIntervalo()" novalidate>
                    <div class="modal-body">
                        <div class="form-group label-floating">
                            <label class="control-label"><span class="text-success"><b>PERIOCIDAD: </b> </span> {{vm.periocidad | uppercase}} </label>
                        </div>
                        <br />
                        <div class="form-group label-floating">
                            <label class="control-label" style="font-size:12px;">INTERVALO</label>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.modalIntervalo.Descripcion" required>
                            </div>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label" style="font-size:12px;">ORDEN</label>
                            <div class="form-group">
                                <select ng-if="vm.periocidad=='Trimestral'" class="form-control col-lg-12 col-md-12" ng-model="vm.modalIntervalo.Orden" required>
                                    <option value="">-- Seleccione --</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <select ng-if="vm.periocidad=='Anual'" class="form-control col-lg-12 col-md-12" ng-model="vm.modalIntervalo.Orden" required>
                                    <option value="">-- Seleccione --</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" ng-model="vm.modalIntervalo.CampoPivot" ng-value="vm.modalIntervalo.CampoPivot">
                        <input type="hidden" ng-model="vm.modalIntervalo.PeriodoId" ng-value="vm.modalIntervalo.PeriodoId">
                        <!--<input type="hidden" ng-model="vm.modalIntervalo.eliminado" ng-value="vm.modalIntervalo.eliminado = 0">-->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-fill btn-success" ng-disabled="addIntervaloForm.$invalid">Registrar <i class="add icon"></i></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close <i class="remove icon"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END MODAL INTERVALO INSERT -->
    <!-- MODAL INTERVALO UPDATE -->
    <div id="myModalUpdate" class="modal fade">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-success">:: Actualizar Indicador ::</h4>
                </div>
                <form name="updateIntervaloForm" class="ui form" ng-submit="vm.updateIntervalo()" novalidate>
                    <div class="modal-body">
                        <div class="form-group label-floating">
                            <label class="control-label"><span class="text-success"><b>PERIOCIDAD: </b> </span> {{vm.periocidad | uppercase}}</label>
                        </div>
                        <br />
                        <div class="form-group label-floating">
                            <label class="control-label" style="font-size:12px;">INTERVALO</label>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="vm.modalupadteIntervalo.Descripcion" required>
                            </div>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label" style="font-size:12px;">ORDEN</label>
                            <div class="form-group">
                                <select ng-if="vm.periocidad=='Trimestral'" class="form-control col-lg-12 col-md-12" ng-value="vm.modalupadteIntervalo.Orden" ng-model="vm.modalupadteIntervalo.Orden" required>
                                    <option value="">-- Seleccione --</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <select ng-if="vm.periocidad=='Anual'" class="form-control col-lg-12 col-md-12"  ng-value="vm.modalupadteIntervalo.Orden" ng-model="vm.modalupadteIntervalo.Orden" required>
                                    <option value="">-- Seleccione --</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" ng-model="vm.modalupadteIntervalo.id" ng-value="vm.modalupadteIntervalo.id">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-fill btn-success" ng-disabled="updateIntervaloForm.$invalid">Actualizar <i class="add icon"></i></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close <i class="remove icon"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END MODAL INTERVALO UPDATE -->
</div>
