<div class="row" ng-controller="AccionesController as vm">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <h4 class="card-title">Metas</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <th>Descripción</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="estrategias in vm.listadoEstrategias" ng-click="vm.cargarIndicadores(estrategias.EstrategiasId,estrategias.Descripcion)">
                                <td>{{estrategias.Descripcion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs" data-background-color="green">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <a ng-show="vm.appstate =='showAdd'" class="ui olive label" data-toggle="modal" data-target="#myModal" ng-click="vm.ventanaIndicador()"><i class="add icon"></i>Indicador</a>
                            <span class="nav-tabs-title"><b>META:</b> {{vm.estrategia }}</span>
                            <ul class="nav nav-tabs" data-tabs="tabs"></ul>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <table class="table">
                        <thead class="text-warning">
                        <th style="font-size:14px;">Programas, proyectos, acciones y actividades claves</th>
                        <th style="font-size:14px;">Acciones</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="indicadores in vm.listadoIndicadores">
                                <td>{{indicadores.Descripcion}}</td>
                                <td title="'Acciones'" class="td-actions text-center">
                                    <button type="button" rel="tooltip" title="Editar" data-toggle="modal" data-target="#myModalUpdate" ng-click="vm.ventanaModalIndicadores(indicadores)" class="btn btn-success btn-round">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="submit" rel="tooltip" title="Eliminar" class="btn btn-danger btn-round" ng-click="vm.deleteIndicador(indicadores.IndicadorId, $index)">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>